.navbar {
  width: 100vw;
  display: inline-flex;
  position: fixed;
  flex-direction: row-reverse;
  @media (max-width: 524px) {
    display: none;
  }
  // margin-right: 100px;
  ul {
    padding-right: 100px;
    display: inline-flex;
    list-style: none;
    gap: 30px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    opacity: 1 !important;
    visibility: visible !important;
    justify-content: center;
    align-items: center;
    @media (max-width: 1367px) {
      font-size: 23px;
      padding-left: 0px;
    }
    li {
      cursor: pointer;
      span {
        border-radius: 25px;
        padding: 8px 15px;
        background-color: orange;
      }
      span:hover {
        background-color: white;
        color: orange;
        border: 3px solid orange;
      }
    }
    li:hover {
      color: orange;
    }
  }
}
.navbar.active {
  background-color: black;
  opacity: 1;
  visibility: visible;
}
.navbar-mobile {
  // background-color: rgb(45, 45, 97);
  width: 100vw;
  height: 70px;
  background-color: #232323;
  // background-color: white;
  display: none;
  position: fixed;
  @media (max-width: 524px) {
    display: block;
    // z-index: 100;
    // -webkit-box-shadow: 0 0 5px rgba(40, 128, 1, 1);
    // -moz-box-shadow: 0 0 5px rgba(40, 128, 1, 1);
    // box-shadow: 0 0 5px rgba(40, 128, 1, 1);
    // box-shadow: orange;
    z-index: 100;
    box-shadow: orange;
    background-color: #030303;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    .connect {
      border-radius: 25px;
      padding: 8px 15px;
      background-color: orange;
      color: white;
    }
    .connect:hover {
      background-color: white;
      color: orange;
      border: 3px solid orange;
    }
  }
}
#menuToggle {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  // background: #232323;
  background-color: orange;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  // position: absolute;
  // width: 300px;
  // margin: -100px 0 0 0;
  // padding: 50px;
  // padding-top: 125px;
  // right: -100px;
  // background: #ededed;
  // list-style-type: none;
  // -webkit-font-smoothing: antialiased;
  // transform-origin: 0% 0%;
  // transform: translate(100%, 0);

  // transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

.bar-mobile {
  color: #ffffff;
  background-color: #170d29 !important;
  list-style: none;
  text-align: center;
  margin: 0 auto;
  top: -400px;
  // opacity: 1;
  // visibility: hidden;
  position: absolute;

  width: 100vw;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul,
  ol {
    list-style: none;
    li {
      padding-bottom: 10px;
      padding-top: 10px;
      font-size: 22px;
      font-weight: 600;
    }
  }
  margin-top: 70px;
  gap: 30px;
  transition: all 0.5s;
  transition: top 0.3s ease;
  -webkit-transition: all 0.5s;
  z-index: 100;
}
.bar-mobile.active {
  transition: top 0.3s ease;
  // transition: all 0.5s;
  // -webkit-transition: all 0.5s;
  // transition-delay: 0.5s;
  z-index: 100;
  // opacity: 1;
  // visibility: visible;
  top: 0;
  position: fixed;
}
