@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
body {
    // font-family: "Titillium Web", sans-serif;
    font-family: "Signika", sans-serif;
    // background-color: rgb(45, 45, 116);
    background-color: #160d29;
    // font-weight: 600;
}
ol {
    padding-inline-start: 20px;
    li {
        padding-bottom: 20px;
    }
}
ul {
    padding-inline-start: 20px;
    li {
        padding-bottom: 0px;
    }
}

li:before {
    font-size: 20px;
    font-weight: bold;
}

.title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 8px;
    h3 {
        @media (max-width: 524px) {
            font-size: 18px;
        }
    }
}
